# Data Cleaning In Python

## 1. Importing Libraries and Loading the Data

In [ ]:
import pandas as pd

# Load the Netflix CSV file
df = pd.read_csv('netflix_titles.csv')

# Display the first few rows to get an overview
print(df.head())

## 2. Handling Missing Values

In [ ]:
# Check for missing values in each column
print(df.isnull().sum())

In [ ]:
# Drop rows with any missing values
df_cleaned = df.dropna()
print("Shape when nothing was removed: ",df.shape)
print("Shape when the rows with empty column has been removed",df_cleaned.shape)

df_cleaned_all = df.dropna(how='all')
print("Shape when only rows with all empty columns are removed",df_cleaned_all.shape) #meaning there is no single row with nothing inside

In [ ]:
# # Fill missing values with a specific value (e.g., 0)
# df['column_name'] = df['column_name'].fillna(0)

# # Fill missing values with the mean of the column
# df['column_name'] = df['column_name'].fillna(df['column_name'].mean())

#since the director field has the highest number of null values at 1969, let's try and fill it with the mode value
df['director'] = df['director'].fillna(df['director'].mode()[0])
print(df.isnull().sum())
#the result now shows that the director column has no empty column. From 1969 empty column to 0

In [ ]:
# Drop duplicate rows
df_cleaned = df.drop_duplicates()
print("Dropping all duplicate rows:",df_cleaned.shape)
# Optionally, drop duplicates based on specific columns
df_cleaned = df.drop_duplicates(subset=['director'])
print("Dropping based on specified column:",df_cleaned.shape)

In [ ]:
# Split a column into two based on a delimiter (e.g., splitting 'Date_Time' column into 'Date' and 'Time')
# df[['Date', 'Time']] = df['Date_Time'].str.split(' ', expand=True)

df[['time', 'standard']] = df['duration'].str.split(' ', expand=True)
df

In [ ]:
# Convert to lowercase
df['title'] = df['title'].str.title()

# Remove leading and trailing spaces
df['title'] = df['title'].str.strip()
df

In [ ]:
# Remove rows where values are above or below certain thresholds. Recall that second row in the csv has a time of 94
threshold = 90
df_cleaned = df[df['time'].astype(int) > threshold]
# this is expected to remove rows where the time is above the threshold of 90
df_cleaned

# # Alternatively, replace outliers using a method like capping at percentiles
# q_low = df['time'].quantile(0.01)
# q_high = df['time'].quantile(0.99)
# df_cleaned = df[(df['time'] > q_low) & (df['time'] < q_high)]

In [ ]:
# Linear interpolation for missing values in a time series
df['time'] = df['time'].interpolate(method='linear')

In [ ]:
# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('netflix_cleaned.csv', index=False)

# Cleaning the Netflix Data Type In Practice

## Importing Libraries and Loading the Data

In [ ]:
import pandas as pd

# Load the Netflix CSV file
df = pd.read_csv('netflix_titles.csv')

# Display the first few rows to get an overview
print(df.head())

## Handling Missing Values

In [ ]:
# Check for missing values in the dataset
print(df.isnull().sum())

In [ ]:
# Drop rows with missing values in the director or rating column
df_cleaned = df.dropna(subset=['director', 'rating'])
df

In [ ]:
# Fill missing values with "Unknown"
df_cleaned['director'] = df_cleaned['director'].fillna('Unknown')

# Fill missing countries with the most common country
df_cleaned['country'] = df_cleaned['country'].fillna(df_cleaned['country'].mode()[0])
df_cleaned

In [ ]:
df_cleaned = df_cleaned.drop_duplicates()

In [ ]:
# Convert 'date_added' to datetime format and extract day, month, and year
df_cleaned['date_added'] = pd.to_datetime(df_cleaned['date_added'], format='%B %d, %Y', errors='coerce')

# Create new columns for day, month, and year
df_cleaned['day_added'] = df_cleaned['date_added'].dt.day
df_cleaned['month_added'] = df_cleaned['date_added'].dt.month
df_cleaned['year_added'] = df_cleaned['date_added'].dt.year
df_cleaned

In [ ]:
# Split duration into numeric value and unit (minutes or seasons)
# df_cleaned['duration_value'] = df_cleaned['duration'].str.extract('(\d+)').astype(float)
df_cleaned['duration_unit'] = df_cleaned['duration'].str.extract('([a-zA-Z]+)')
df_cleaned

# OR

df_cleaned[['duration_value', 'duration_unit']] = df_cleaned['duration'].str.split(' ', expand=True)
df_cleaned

In [66]:
# Save the cleaned dataset
df_cleaned.to_csv('netflix_cleaned.csv', index=False)