In [11]:
firstName = "Timothy"
lastName = "Afolabi"
print(firstName+' '+lastName)
print("Hello World!")

Timothy Afolabi
Hello World!

In [21]:
print(79)

79

In [18]:
# In this place I would like to print my name
print("Tim Afolabi")
#of course, you can see that this will print the name I specified

Tim Afolabi

In [27]:
acc_balance = 1000
acc_balance_2 = "100"
# print("Your total account balance is: "+acc_balance+acc_balance_2)

In [30]:
acc_balance = "1000"
type(acc_balance)

str

In [49]:
department1 = "Computer Science"
age = 12

In [50]:
print("Hooray, our first class has started")

Hooray, our first class has started

In [51]:
type(department1)

str

In [52]:
type(3.4555)

float

In [56]:
type(False)

bool

In [63]:
firstName = "timothy"
state = "oYO";
print(firstName.upper())
print(firstName.lower())
print(firstName.title())
print(state.title())

TIMOTHY
timothy
Timothy
Oyo

In [70]:
name = "Oluwasegun Odunayo"
name.upper().count('O')

3

In [73]:
place = "Abulu Egba"
place.replace("lu","le")

'Abule Egba'

In [92]:
message_1 = "I'm learning Python"
message_2 = "and it is fun";
full_message = message_1+" "+message_2+" are we not beautiful?"+" Debby is the only lady in this clas"
print(full_message)
print(message_1,message_2)

I'm learning Python and it is fun are we not beautiful? Debby is the only lady in this clas
I'm learning Python and it is fun

In [97]:
school = "Metro Hub"
print(f'I am enjoying this class at {school}')

I am enjoying this class at Metro Hub

In [100]:
test = f"{message_1}"
print(test)

I'm learning Python

In [102]:
word = "Programming"
word[3:8]

'gramm'

In [107]:
my_string = "Hello, World!"
length = len(my_string)
print(length)  # Output: 13

13

# String Splitting

In [111]:
sentence = "Learn Python programming"
words = sentence.split()  # ["Learn", "Python", "programming"]
print(words)

['Learn', 'Python', 'programming']

In [113]:
sentence = "Learn Python programming"
words = sentence.split("Python")  # ["Learn", "Python", "programming"]
print(words)

['Learn ', ' programming']

## Joining Strings

In [114]:
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)  # Output: "Python is fun"

Python is fun

# Find Function

In [117]:
sentence = "I love Python programming"
index = sentence.find("Python")
print(index)  # Output: 7

7

# String Slicing

In [118]:
#Basic slicing
my_string = "Python Programming"
sliced = my_string[0:6]  # Extracts characters from index 0 to 5
print(sliced)  # Output: "Python"

#reversing a string
my_string = "Hello, World!"
reversed_string = my_string[::-1]  # Reverses the string
print(reversed_string)  # Output: "!dlroW ,olleH"

Python
!dlroW ,olleH

# String Indexing

In [119]:
#Positive Indexing
my_string = "Hello, World!"
first_character = my_string[0]  # Accesses the first character
print(first_character)  # Output: "H"

#Negative Indexing
my_string = "Hello, World!"
last_character = my_string[-1]  # Accesses the last character
print(last_character)  # Output: "!"

H
!

In [122]:
print("She says \"Hello\"")

She says "Hello"

# Escape Characters

In [126]:
#Include Quotes
my_string = "She said, \"Hello!\""
print(my_string)  # Output: She said, "Hello!"

#Include Newline Character
my_string = "Hello, World!\nWelcome to Python."
print(my_string)  
# Output: 
# Hello, World!
# Welcome to Python.

#Include Tab Space
my_string = "Hello, World!\tWelcome to Python."
print(my_string)  
# Output: 
# Hello, World!    Welcome to Python.

She said, "Hello!"
Hello, World!
Welcome to Python.
Hello, World!	Welcome to Python.

# In operator

In [127]:
my_string = "I love programming in Python."
is_present = "Python" in my_string
print(is_present)  # Output: True

my_string = "Hello, World!"
is_present = "hello" in my_string
print(is_present)  # Output: False

True
False

In [139]:
countries = ['United States','India','China','Brazil']
print(*countries)

United States India China Brazil

In [140]:
countries

['United States', 'India', 'China', 'Brazil']

In [142]:
countries.clear()

In [143]:
countries

[]

In [150]:
print("  *  ")
print("  *  ")
print("*****")
print("  *  ")
print("  *  ")

  *
  *
*****
  *
  *

In [151]:
# Stylized letter O
print("  ***  ")
print(" *   * ")
print("*     *")
print(" *   * ")
print("  ***  ")

  ***
 *   *
*     *
 *   *
  ***

In [152]:
print("   ***     ***   ")
print(" *******   ******* ")
print("********* *********")
print("*******************")
print(" ***************** ")
print("  **************** ")
print("   *************** ")
print("     *************  ")
print("       *********    ")
print("         *****      ")
print("          ***       ")
print("           *        ")

   ***     ***
 *******   *******
********* *********
*******************
 *****************
  ****************
   ***************
     *************
       *********
         *****
          ***
           *

In [154]:
name = 12
str(name)

'12'

In [172]:
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t**************")

	*
	*
	*
	*
	*
	*
	**************

In [169]:
#I am printing Letter O. Just testing my understanding of the concepts so far
print("   ****     ")
print("  *     *")
print(" *       *")
print("*         *")
print("*         *")
print("*         *")
print(" *      *")
print("   ****")

   ****
  *     *
 *       *
*         *
*         *
*         *
 *      *
   ****

In [173]:
# Function to check if a year is a leap year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

# Get user input for the range of years
start_year = int(input("Enter the start year: "))
end_year = int(input("Enter the end year: "))

# Loop through the range and print leap years
print(f"Leap years between {start_year} and {end_year}:")
for year in range(start_year, end_year + 1):
    if is_leap_year(year):
        print(year)

Enter the start year:  1992
Enter the end year:  2024

Leap years between 1992 and 2024:
1992
1996
2000
2004
2008
2012
2016
2020
2024

# Creating a Tuple

In [ ]:
# Creating a tuple with integers
numbers = (1, 2, 3, 4)

# Creating a tuple with mixed data types
person = ("Alice", 30, "Engineer")

# Creating an empty tuple
empty_tuple = ()