In [217]:
print("Welcome to class")

Welcome to class

In [4]:
print("Hello World")countriescountries

Hello World

In [5]:
"Hello World"

'Hello World'

In [6]:
#I am showing the person running this code what the code below will do
print("My name is Timothy!")

My name is Timothy!

In [21]:
float('10.55555')

10.55555

In [22]:
type(100)

int

In [25]:
type(False)

bool

In [2]:
import pandas as pd

In [3]:
#data used for example (stored in lists)
states = ["California","Texas","Florida","New York"]
population = [39613493,29730311,21944577,19299981]
# storing list in dictionary
dict_states = {'States':states,'Population':population}
#Creating the dataframe
df_population = pd.DataFrame.from_dict(dict_states)
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

In [29]:
print("Hello World!".upper())
print("Hello World!".lower())
print("Hello World!".title())

HELLO WORLD!
hello world!
Hello World!

In [32]:
"Hello World!".count('l')

3

In [33]:
"Hello World!".replace('o','u')

'Hellu Wurld!'

In [34]:
message_1 = "I'm learning Python";
message_1

"I'm learning Python"

In [35]:
message_2 = "and it's fun!"
message_2

"and it's fun!"

In [36]:
message_1 + message_2

"I'm learning Pythonand it's fun!"

In [37]:
message_1 + ' ' + message_2

"I'm learning Python and it's fun!"

In [40]:
f'{message_1} {message_2}'

"I'm learning Python and it's fun!"

In [45]:
states = ["California","Texas","Florida","New York"]
states[0:1]

['California']

In [47]:
states[0:2]

['California', 'Texas']

In [49]:
states[2:3]

['Florida']

In [68]:
countries = ['United States','India','China','Brazil']

In [69]:
countries

['United States', 'India', 'China', 'Brazil']

In [70]:
countries.append('Canada')

In [54]:
countries

['United States', 'India', 'China', 'Brazil', 'Canada']

In [56]:
countries.insert(0,'Togo')

In [66]:
countries

['Togo', 'India', 'China', 'Brazil', 'Canada']

In [59]:
countries_2 = ['Japan','Nigeria','Congo'];

In [60]:
nested_list = [countries, countries_2]

In [61]:
nested_list

[['Togo', 'United States', 'India', 'China', 'Brazil', 'Canada'],
 ['Japan', 'Nigeria', 'Congo']]

In [72]:
countries.remove('United States')

In [73]:
countries

['India', 'China', 'Brazil', 'Canada']

In [74]:
countries.pop(-1)

'Canada'

In [75]:
countries

['India', 'China', 'Brazil']

In [76]:
del countries[0]

In [77]:
countries

['China', 'Brazil']

In [78]:
# List of numbers
numbers = [5, 2, 9, 1, 5, 6]
print("Original list:", numbers)  # Output: [5, 2, 9, 1, 5, 6]
# Sorting the list in ascending order
numbers.sort()
print("Sorted list (ascending):", numbers)  # Output: [1, 2, 5, 5, 6, 9]

Original list: [5, 2, 9, 1, 5, 6]
Sorted list (ascending): [1, 2, 5, 5, 6, 9]

In [79]:
# Sorting in descending order
numbers.sort(reverse=True)
print("Sorted list (descending):", numbers)  # Output: [9, 6, 5, 5, 2, 1]

Sorted list (descending): [9, 6, 5, 5, 2, 1]

In [95]:
# Mutable example: List
my_list = [10, 20, 30]
print("Original list:", my_list)  # Output: [10, 20, 30]

print("hello"," Abayomi")

my_list.append(40)
my_list.append(42)
print("Modified list:", my_list)  # Output: [10, 20, 30, 40]

# Immutable example: Tuple
my_tuple = (10, 20, 30)
print("Original tuple:", my_tuple)  # Output: (10, 20, 30)
 
# Trying to modify the tuple will cause an error
# my_tuple[0] = 100  # Uncommenting this line will raise a TypeError
print("The first element in the tupple is: ",my_tuple[0])

# To change the tuple, you need to create a new tuple
new_tuple = (100, 20, 30)
print("New tuple:", new_tuple)  # Output: (100, 20, 30)
print("Original tuple still unchanged:", my_tuple)  # Output: (10, 20, 30)

Original list: [10, 20, 30]
hello  Abayomi
Modified list: [10, 20, 30, 40, 42]
Original tuple: (10, 20, 30)
The first element in the tupple is:  10
New tuple: (100, 20, 30)
Original tuple still unchanged: (10, 20, 30)

In [96]:
print(2)

2

In [99]:
type(False)

bool

In [100]:
"ade" + "olu"

'adeolu'

In [101]:
1+1

2

In [102]:
1+1.5

2.5

In [103]:
"1" + "1.5"

'11.5'

In [109]:
var_1 = "focus chin chin"
var_2 = "Mr Yomi is a Prof"
var_3 = "Mr Isaac is a guru"
print(var_1.title())
print(var_1.upper())
print(var_1.lower())

Focus Chin Chin
FOCUS CHIN CHIN
focus chin chin

In [112]:
name = "Oluwasola Yomi Isaac"
print(name.lower().count('o'))

3

In [115]:
name.lower().replace('o','u')

'uluwasula yumi isaac'

In [129]:
message_1 = "I'm learning python"
message_2 = "and it is fun"
message_3 = 'I am a fine boy'
message_4 = ' we are doing well'
print(message_1+' '+message_2+' '+message_3+message_4)

I'm learning python and it is fun I am a fine boy we are doing well

In [130]:
f'hello world'

'hello world'

In [135]:
f'{message_1} and so what? wnat is wrong with your guys {message_2} {message_3}'

"I'm learning python and so what? wnat is wrong with your guys and it is fun I am a fine boy"

In [136]:
numbers

[9, 6, 5, 5, 2, 1]

In [138]:
numbers[0] = 100

In [140]:
numbers

[100, 6, 5, 5, 2, 1]

In [142]:
countries = ['United States','India','China','Brazil']

In [143]:
countries

['United States', 'India', 'China', 'Brazil']

In [144]:
new_list = countries[:]
new_list

['United States', 'India', 'China', 'Brazil']

In [145]:
countries.copy()

['United States', 'India', 'China', 'Brazil']

In [146]:
new_list_2 = countries.copy()

In [147]:
new_list_2

['United States', 'India', 'China', 'Brazil']

In [206]:
#learning about dictionaries
my_data = {'name':'Timothy','age':26}
#my_data dictionary has a name and a age with different data types
print(my_data)

{'name': 'Timothy', 'age': 26}

In [162]:
my_data.keys()

dict_keys(['name', 'age'])

In [195]:
my_data.values()

dict_values(['Timothy', 26])

In [167]:
#returns all the items in the list
my_data.items()

dict_items([('name', 'Timothy'), ('age', 26), ('height', 1.7)])

In [169]:
#you can add a new pair of key value
my_data['height'] = 1.7
#this is how you add a new item to the dictionary

In [207]:
my_data

{'name': 'Timothy', 'age': 26}

In [197]:
my_data['name']

'Timothy'

In [208]:
my_data['age']

26

In [210]:
my_data['height'] = 1.9;
my_data

{'name': 'Timothy', 'age': 26, 'height': 1.9}

In [211]:
my_data.update({'height':2.2})
my_data

{'name': 'Timothy', 'age': 26, 'height': 2.2}

# Copying a dictionary

In [185]:
my_dict = my_data.copy()
my_dict

{'name': 'Timothy', 'age': 26, 'height': 2.2}

# Removing an element

In [212]:
my_data.pop('name')
print(my_data)

{'age': 26, 'height': 2.2}

In [214]:
#can delete using del 
del my_data['age']
print(my_data)

{'height': 2.2}

In [216]:
#you can clear all the items in the dictionary using clear function
my_data.clear()
print(my_data)

{}

In [218]:
print("The class has started")

The class has started